<!DOCTYPE html>
<html>
	<head>
		<title>Login</title>
		<link rel="stylesheet" href="index.css">
	</head>
	<body>
		<div class="container">
		<div class="leftSection">
			<div class="heroContent">
			<h2>
				Capturing Moments,<br />
				Creating Memories
			</h2>
			<div class="dots">
				<span></span>
				<span></span>
				<span class="active"></span>
			</div>
			</div>
		</div>

		<div class="rightSection">
			<div class="formContainer">
			<h1>Login</h1>
			<p class="loginText">
				Don't have an account? 
				<a href="/signup">Sign up</a>
			</p>

			<form class="form" method="post" action="/login">
				<input type="email" name="email" placeholder="Email" class="input" />

				<input type="password" name="password" placeholder="Enter your password" class="input" />

				<button type="submit" class="submitButton">Login</button>
			</form>
			</div>
		</div>
		</div>
	</body>
</html>
