<!DOCTYPE html>
<html>
<head>
    <title>Signup</title>
    <link rel="stylesheet" href="index.css">
</head>
<body>
    
    <div class="container">
        <div class="leftSection">
            <div class="heroContent">
                <h2>
                    Capturing Moments,
                    <br />
                    Creating Memories
                </h2>
                <div class='dots'>
                    <span></span>
                    <span></span>
                    <span class='active'></span>
                </div>
            </div>
        </div>

        <div class="rightSection">
            <div class='formContainer'>
                <h1>Create an account</h1>
                <p class='loginText'>
                    Already have an account? 
                </p>

                <form class='form' method="post" action="/signup" >

                    <input type="text" name="name" placeholder="Name" class='input' />

                    <input type="email" name="email" placeholder="Email" class='input' />

                    <input type="password" name="password" placeholder="Enter your password" class='input' />

                    <label class='checkbox'>
						<input type="checkbox" />
						<span>
							I agree to the Terms and Conditions
						</span>
                    </label>

                    <button type="submit" class='submitButton'>Create account</button>

                    <div class='divider'>
                        <span>Or register with</span>
                    </div>

                    <div class='socialButtons'>
                        <button type="button" class='googleButton'>
                            Google
                        </button>
                        <button type="button" class='appleButton'>
                            Apple
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- <h1>Signup</h1>
    <form action="/signup" method="POST">
        <input type="text" name="name" placeholder="Name" required />
        <input type="email" name="email" placeholder="Email" required />
        <input type="password" name="password" placeholder="Password" required />
        <button type="submit">Signup</button>
    </form> -->
</body>
</html>
